html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrollbars */
}

.title {
    background-color: #111; /* Much darker grey background for the title */
    color: #b5b5b5; /* White text color */
    padding: 20px;
    text-align: center;
}

.row {
    display: flex;
    /* flex-wrap: wrap; Allow movies to wrap to the next row */
    height: 100%;
    background-color: #333; /* Dark grey background color for the row */
    font-size: 12px;
}

.movie {
    margin: 10px;
    text-align: center;
    width: calc(20px - 20px); /* Set width for about 5 movies per row */
    box-sizing: border-box;
}

.movie img {
    max-width: 100px;
    max-height: 150px;
    margin-bottom: 10px;
}

.movie-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 10px;
}

.movie-info {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.movie-scores {
    font-size: 1.5em;
    font-weight: bold;
}

.column1 {
    flex: 3; /* 3/12 width */
    padding: 20px;
    background-color: #222; /* Darker grey background color for column 1 */
    border-right: 8px solid #111; /* Dirty white line */
}

.column2 {
    flex: 9; /* 9/12 width */
    padding: 20px;
    background-color: #333; /* Slightly lighter grey background color for column 2 */
}

.content {
    color: #b5b5b5; /* White text color */
}


/* body{
    background-image: url('assets/bg.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat;
} */

/* h1{
    text-align: center;
    margin: 50px;
    color: white;
} */

#showSelectedGenres, #showSelectedActors, #showSelectedAwards{
    display: none;
}

#genre, #actor, #award {
    display: none;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    border-radius: 10px;
    padding: 5px;
    z-index: 100;
    width: 90%;
    height: 204px;
}

.dd-icon{
    width: 15px;
    cursor: pointer;
}

/* .row{
    background-image: url('assets/input-bg.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat;
} */

.lists, label{
    color: #b5b5b5;
}

/* Add custom styles for selected options */
#genre option:checked::before {
    content: '\2713'; /* Checkmark character */
    padding-right: 5px;
}

/* Hide the checkmark for unselected options */
#genre option::before {
    content: ''; /* Hide the content for unselected options */
}

/* Style the selected options */
#genre option:checked {
    background-color: #e9ecef; /* Add a background color to selected options */
    font-weight: bold; /* Make selected options bold */
}

/* Add custom styles for selected options */
#actor option:checked::before {
    content: '\2713'; /* Checkmark character */
    padding-right: 5px;
}

/* Hide the checkmark for unselected options */
#actor option::before {
    content: ''; /* Hide the content for unselected options */
}

/* Style the selected options */
#actor option:checked {
    background-color: #e9ecef; /* Add a background color to selected options */
    font-weight: bold; /* Make selected options bold */
}

/* Add custom styles for selected options */
#award option:checked::before {
    content: '\2713'; /* Checkmark character */
    padding-right: 5px;
}

/* Hide the checkmark for unselected options */
#award option::before {
    content: ''; /* Hide the content for unselected options */
}

/* Style the selected options */
#award option:checked {
    background-color: #e9ecef; /* Add a background color to selected options */
    font-weight: bold; /* Make selected options bold */
}

#selectedGenresList, #selectedActorsList, #selectedAwardsList{
    position: relative;
    display: contents;
}

/* Dark overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
    z-index: 1;
}

.button-container {
    margin-top: 25px;
    text-align: center; /* Center the buttons horizontally */
}

.button-container button {
    margin: 5px; /* Add margin to create space between the buttons */
    font-size: 10px;
}

.clear{
    width: 95px;
    margin-top: 50px;
    background: #B7410E !important;
    border: 1px solid #B7410E !important;
    color: white !important;
}

.start{
    width: 95px;
    margin-top: 50px;
    background: #19b70e !important;
    border: 1px solid #19b70e !important;
    color: white !important;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}
/* 
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
} */

p {
    color: #555;
    font-size: 16px;
    line-height: 1.4;
}

/* Add styles for buttons inside the modal */
.modal-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

/* Hover effect for the button */
.modal-button:hover {
    background-color: #0056b3;
}

.bold-text{
    font-weight: bold;
}

.italic-text{
    font-style: italic;
}
.p-3 {
    padding: 5px !important;
}

.img-fluid {
    max-width: 100%;
    height: 200px !important;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.no-bg{
    background-color: unset;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
    padding: 10px 22px 10px 0 !important;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    /* background: #fff; */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 70%;
}

.modal-logo {
    /* height: 150px; */
    width: 400px;
    margin-bottom: 10px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.close-icon2 {
    position: absolute;
    top: -5px;
    right: 32vw;
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 100;
}

/* Add this to your existing CSS */
.img-fluid {
    /* Define your default styles */
    transition: transform 0.3s ease-in-out;
}

.img-fluid:hover,
.img-fluid.hovered {
    /* Define your hover styles */
    transform: scale(1.1); /* or any other value to control the scale */
}
